<div class="hide" id="navDiv">
  <div class="collapse navbar-collapse no-padding" id="nav-accordian-start">
    <accordion id="categoryListAccordian" [showArrows]="true">
      <accordion-group *ngFor="let category of list"  [isOpened]="category._id==categoryId" (onOpen)="showCourses(category._id)">
      <accordion-heading>
            {{category.name}}
            <span class="pull-right badge-margin badge">{{category.courses.length}}</span>
      </accordion-heading>
        <div *ngIf="category.courses.length == 0" class="text-center">
          <h4 class="text-danger"> No Courses Available!!!</h4>
        </div>
        <accordion id="courseListAccordian" [showArrows]="true">
          <accordion-group *ngFor="let course of category.courses"  (onOpen)="showVideos(category._id,course._id)">
          <accordion-heading>
              {{course.name}}
              <span class="pull-right badge-margin badge">{{course.video.length}}</span> 
          </accordion-heading>
            <div *ngIf="course.video.length == 0" class="text-center">
              <h4 class="text-danger"> No Videos Available!!!</h4>
            </div>
            <accordion id="courseListItemAccordion">
              <div class="no-padding bg-faded" *ngFor="let video of course.video">
                <li class="app-sub-cat1" (click)="showVideo(category._id,course._id, video._id)">{{video.name}}</li>
              </div>
            </accordion>
          </accordion-group>
        </accordion>
      </accordion-group>
    </accordion>
  </div>
</div>
<div class="col-sm-2">
  <br>
  <span class="fa fa-bars navToggle" aria-hidden="true" (click)="navToggle()" title={{navText}}></span>
</div>