<div class="app-login" [style.background]="bgImg">
    <div class="row">
        <form #Form="ngForm" class="app-login-form" (ngSubmit)="login()">
            <div class="app-login-heading">
                <label>Login to learn</label>
                <div *ngIf="Username.errors && Username.touched" class=" text-danger">
                    <span *ngIf="Username.errors.required">
             <strong>Username is required</strong> 
            </span>
                </div>
                <div *ngIf="Password.errors && Password.touched" class=" text-danger">
                    <span *ngIf="Password.errors.required">
             <strong>Password is required</strong> 
            </span>
                </div>
                <div *ngIf="wrongCredentials" class="fadeout text-danger">
                    <span>
             <strong>Username or Password is wrong</strong> 
            </span>
                </div>
            </div>
            <div class="app-form-container">
                <input class="form-control app-form-input app-email-input" id="username" type="text" placeholder="Username" name="username"
                    required [(ngModel)]="username" #Username="ngModel" />


                <input class="form-control app-form-input app-pass-input" id="password" type="password" placeholder="Password" name="password"
                    required [(ngModel)]="password" #Password="ngModel" />


                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary app-btn-submit" type="submit" [disabled]="!Form.form.valid">Login</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary app-btn-submit" [routerLink]="['/register']" type="button">Register</button>
                    </div>
                </div>
                <div class="app-social-signin row">
                    <a href="/auth/google"><img class="app-social-signin-img" src="/assets/img/g-signin.png"/></a>
                </div>
                <br>
                <div class="row text-center">
                    <a href="#" data-target="#pwdModal" data-toggle="modal" class="forget">Forgot Password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h1 class="text-center">Reset Password</h1>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <form class="form">
                                <div class="form-group"><input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email"
                                        [disabled]="!value" #email></div>
                                <div *ngIf="!value">
                                    <input type="text" class="form-control input-lg" value="{{SecurityQuestion?.question1?.q1}}" disabled/>
                                    <div class="form-group"><input type="text" class="form-control input-lg" #answer1></div><br>
                                    <input type="text" class="form-control input-lg" value="{{SecurityQuestion?.question2?.q2}}" disabled/>
                                    <div class="form-group"><input type="text" class="form-control input-lg" #answer2></div><br>
                                    <input *ngIf="!value" class="btn btn-lg btn-primary" value="Submit" type="submit" data-dismiss="modal" (click)="submitAnswer(email.value,answer1.value,answer2.value)">
                                    <input *ngIf="!value" class="btn btn-lg btn-primary" value="Cancel" type="submit" data-dismiss="modal" >
                                </div>
                                <input *ngIf="value" class="btn btn-lg btn-primary" value="Submit" type="submit" (click)="forgotPassword(email.value)">
                                <input *ngIf="value" class="btn btn-lg btn-primary" value="Cancel" type="submit" data-dismiss="modal" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>