<div class="container-fluid margin-top">
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInput">Filter By Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 pull-right" name="term" placeholder="Search" [(ngModel)]="term">
    </form>
    <table class="table table-bordered table-striped table-hover text-centered table-responsive table-margin">
        <thead>
            <tr class="thead-color">
                <th>Name</th>
                <th>Email Id</th>
                <th>Role</th>
                <th>UserName</th>
                <th>Status</th>
                <th>Make Admin/User</th>
                <th>Activate/De-Activate User</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hand-pointer" *ngFor="let users of user | filter:term">
                <td *ngIf="users.role!='SUPERADMIN'">{{users.name}}</td>
                <td *ngIf="users.role!='SUPERADMIN'">{{users.email}}</td>
                <td *ngIf="users.role!='SUPERADMIN'">{{users.role}}</td>
                <td *ngIf="users.role!='SUPERADMIN'">{{users.username}}</td>
                <td *ngIf="users.role!='SUPERADMIN'">{{users.status}}</td>
                <td *ngIf="users.role!='SUPERADMIN'">
                    <label class="switch">
                        <input type="checkbox" id="togBtn" [checked]="AssignRole(users.role)" />
                <div class="slider round " id="toggle" (click)="toggleRole(users.role,users._id)">
                        <p class="admin noselect" >Admin</p>
                        <p class="user noselect">User</p>
                </div>
                        </label>
                </td>
                <td *ngIf="users.role!='SUPERADMIN'">
                    <label class="switch">
                        <input type="checkbox" id="togBtn" [checked]="AssignStatus(users.status)">
                <div class="slider round" (click)="toggleStatus(users.status,users._id)">
                        <p class="admin noselect">Active</p>
                        <p class="user noselect">InActive</p>
                </div>
                        </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>