<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/adminDashboardcategory']" class="glyphicon glyphicon-home"></a></li>
        <li>{{categoryname}}</li>
    </ol>
    <h2>{{categoryname}} <a [routerLink]="['/createcourses',categoryId,categoryname]"><button  class="app-read-more-admin pull-right" >Create Course</button></a></h2>
    <hr>

    <div *ngIf="courses.length == 0" class="text-center">
        <h2 class="text-danger"> No Courses Available!!!</h2>
    </div>

    <div *ngIf="courses.length != 0">
        <table class="table text-centered table-responsive table-main">
            <thead>
                <tr class="thead-color">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="tbody-class">
                <tr class="hand-pointer tr-class table-tr" *ngFor="let course of courses; let i = index" (click)="selectedCourse(course.video, course._id,course.name)">
                    <td class="td-class">{{course.name}}</td>
                    <td class="td-class">{{course.description}}</td>
                    <td class="td-class" [routerLink]="['/updateCourses',course._id,categoryId,categoryname]"><img src="assets/img/pencil.png" onmouseover="this.src='assets/img/edit.png'" onmouseout="this.src='assets/img/pencil.png'"
                        /></td>
                    <td class="td-class" (click)="deleteCourse(course._id)"><img src="assets/img/delete.png" onmouseover="this.src='assets/img/deletehover.png'" onmouseout="this.src='assets/img/delete.png'"
                        /></td>
                    <td class="td-class">{{course.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>