<div class="container-fluid no-padding no-margin">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
    </div>
    <div class="col-md-2 col-xs-12 no-padding no-margin">
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav accordian col-xs-12" id="myAccordian">
                        <li><input type="text" class="form-control" [(ngModel)]="term" placeholder="Search by name"></li>
                        <li>
                            <h3>All User List</h3><br></li>
                        <div *ngFor="let result of quizresult | filter:term; let i=index">
                            <li>
                                <a class="app-sub-cat" (click)="getQuizResult(i)">
                                    <h4><strong>{{result.name}}</strong></h4>
                                </a>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-9 pull-right">
        <br>
        <div *ngIf="quizdata!=null">
            <input type="text" class="col-md-4 pull-right" [(ngModel)]="term1" placeholder="Search">
            <br><br>
            <table class="table table-bordered table-striped table-hover text-centered table-responsive">
                <thead>
                    <tr class="thead-color">
                        <th>Date Of Test</th>
                        <th>CourseName</th>
                        <th>CategoryName</th>
                        <th>MarksObtain</th>
                        <th>TotalMarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of quizdata">
                        <td>{{data.dot | date}} </td>
                        <td> {{data.courseName}} </td>
                        <td> {{data.categoryName}}</td>
                        <td> {{data.marksObtain}}</td>
                        <td>{{data.totalMarks}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>