<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <p class="glyphicon glyphicon-home"></p>
            </li>
        </ol>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-centered table-responsive ">
                <thead>
                    <tr  class="thead-color">
                        <th>Date Of Test</th>
                        <th>CourseName</th>
                        <th>CategoryName</th>
                        <th>MarksObtain</th>
                        <th>TotalMarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of prevtestresult">
                        <td>{{data.dot | date}} </td>
                        <td> {{data.courseName}} </td>
                        <td> {{data.categoryName}}</td>
                        <td> {{data.marksObtain}}</td>
                        <td>{{data.totalMarks}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
