<div class="container-fluid">
    <h2>Update Question</h2><hr>
    <div class="form-group row">
        <div class="col-md-12">
            <label for="description">Questions</label>
            <textarea class="form-control" id="CDname" value="{{test?.question}}" #Question required></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <label for="name">options1</label>
            <input type="text" class="form-control" id="imgPath" value="{{test?.options.opt1}}" #options1 required/>
        </div>
        <div class="col-sm-4">
            <label for="Quotes">option2</label>
            <input type="text" class="form-control" id="Quotes" value="{{test?.options.opt2}}" #options2 required/>
        </div>
        <div class="col-sm-4">
            <label for="name">options3</label>
            <input type="text" class="form-control" id="imgPath" value="{{test?.options.opt3}}" #options3 required/>
        </div>
        <div class="col-sm-4">
            <label for="Quotes">option4</label>
            <input type="text" class="form-control" id="Quotes" value="{{test?.options.opt4}}" #options4 required/>
        </div>
        <div class="col-sm-4">
            <label for="Quotes">option5</label>
            <input type="text" class="form-control" id="Quotes" value="{{test?.options.opt5}}" #options5 required/>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <label for="name">OptionField</label>
            <input type="text" class="form-control" id="imgPath" value="{{test?.optionField}}" #optionsField required/>
        </div>
        <div class="col-sm-4">
            <label for="Quotes">answer</label>
            <input type="text" class="form-control" id="Quotes" value="{{test?.answer}}" #answer required/>
        </div>
        <div class="col-sm-4">
            <label for="name">point</label>
            <input type="text" class="form-control" id="imgPath" value="{{test?.point}}" #point required/>
        </div>
        <div class="col-sm-4">
            <label for="Quotes">note</label>
            <input type="text" class="form-control" id="Quotes" value="{{test?.note}}" #note required/>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <input class="e-learning-btn" type="button" name="quiz" value="Update Question" (click)=updateQuestion(Question.value,options1.value,options2.value,options3.value,options4.value,options5.value,optionsField.value,answer.value,point.value,note.value)/>
    <input class="e-learning-btn" type="button" value="Cancel" [routerLink]="['/quizQuestionsList',courseId,videoId]"/>
    <br><br>
</div>