<div id="footer">
    <div id="footLine"></div>
    <div class="container text-center">
        <p>Copyright 2017 &copy; <a href="http://www.atmecs.com/"> ATMECS</a>, Inc. | All Rights Reserved.</p>
    </div>
</div>