<div class="container-fluid">
    <ol class="breadcrumb">
        <li>
            <p class="glyphicon glyphicon-home"></p>
        </li>
    </ol>

    <h2>Categories<a routerLink="/createCategory"><button class="app-read-more-admin pull-right" > Create Category</button></a></h2>
    <hr>

    <div *ngIf="categories.length == 0" class="text-center">
        <h2 class="text-danger"> No Categories Available!!!</h2>
    </div>

    <div *ngIf="categories.length != 0">
        <table class="table text-centered table-responsive table-main">
            <thead>
                <tr class="thead-color">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Quotes</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Status</th>
                </tr>
            </thead>
              <tbody class="tbody-class" >
                <tr class="hand-pointer tr-class table-tr" *ngFor="let category of categories" [routerLink]="['/courseList',category._id,category.name]" >
                     <td class="td-class">{{category.name}} </td>
                    <td class="td-class"> {{category.description}} </td>
                    <td class="td-class"><img [src]="category.imgPath"  class="img-circle img-circular img-path"></td>
                    <td class="td-class">{{category.quotes}} </td>
                    <td class="td-class" [routerLink]="['/category',category._id]"><img src="assets/img/pencil.png" onmouseover="this.src='assets/img/edit.png'" onmouseout="this.src='assets/img/pencil.png'"/></td>
                    <td class="td-class" (click)="deleteCategory(category._id)"> <img src="assets/img/delete.png" onmouseover="this.src='assets/img/deletehover.png'" onmouseout="this.src='assets/img/delete.png'"/></td>
                    <td class="td-class">{{category.status}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>