<div class="container-fluid">
    <h2>Create Course</h2>
    <hr>
    <form #createCoursesForm="ngForm" (ngSubmit)="addCourse()">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="coursename">Course Name</label>
                <input type="text" class="form-control" id="coursename" [(ngModel)]="courseName" name="coursename" #coursename="ngModel"
                    required minlength="3" maxlength="45" />
                <div *ngIf="coursename.errors && coursename.touched" class="alert alert-danger">
                    <div *ngIf="coursename.errors.required">
                        Course Name is required
                    </div>
                    <div *ngIf="coursename.errors.minlength">
                        Course Name should be minimum {{ coursename.errors.minlength.requiredLength }} characters.
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="coursedescription">Course Description</label>
                <input type="text" class="form-control" id="coursedescription" [(ngModel)]="courseDescription" name="coursedescription" #coursedescription="ngModel"
                    required minlength="3" maxlength="500" />
                <div *ngIf="coursedescription.errors && coursedescription.touched" class="alert alert-danger">
                    <div *ngIf="coursedescription.errors.required">
                        Course Description is required
                    </div>
                    <div *ngIf="coursedescription.errors.minlength">
                        Course Description should be minimum {{ coursedescription.errors.minlength.requiredLength }} characters.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-right">
            <input type="submit" class="e-learning-btn" [disabled]="!createCoursesForm.form.valid" id="createcategorybtn" value="Submit">
            <button type="button" class="e-learning-btn" [routerLink]="['/courseList', categoryId,categoryName]"> cancel</button>
        </div>
    </form>
</div>