<div id="themetoggle"  class="container-fluid no-margin video-component">
    <h2>{{videoName}}</h2><hr>
    <vg-player class="video-player">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar id="vg-scrub-bar" class="vg-scrub-bar">
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5" id="vg-controls" class="vg-controls">
            <vg-play-pause></vg-play-pause>
            <a (click)="videoUrls(prevVideo)" [hidden]="prevVideo==null"><i class="fa fa-step-backward video-player-custom-button"></i></a>
            <a (click)="videoUrls(nextVideo)" [hidden]="nextVideo==null"><i class="fa fa-step-forward video-player-custom-button"></i></a>

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <a (click)="toggleTheme()"><i class="fa fa-lightbulb-o video-player-custom-button"></i></a>
            <vg-fullscreen (click)="fullscreen()"></vg-fullscreen>
        </vg-controls>

        <video id="app-video" class="app-video" [vgMedia]="video" [src]="videoUrl" type="video/mp4" preload="auto" crossorigin #video></video>

        <div class="video-playlist">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let video of videoList" (click)="videoUrls(video)"><a>{{video.name}}</a></li>
            </ul>
        </div>
    </vg-player>
</div>
