<div class="container-fluid">
  <h2>Create Catagory</h2>
  <hr>
  <form #Form="ngForm" *ngIf="active" (ngSubmit)="addCategory()">
    <div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Category Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="categoryName" name="categoryname" #categoryname="ngModel"
            required minlength="3">
          <div *ngIf="categoryname.errors && categoryname.touched" class="alert alert-danger">
            <span *ngIf="categoryname.errors.required">
              Name is required
            </span>
            <span *ngIf="categoryname.errors.minlength">
              Name should be minimum {{ categoryname.errors.minlength.requiredLength }} characters.
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Category Description</label>
          <input type="text" class="form-control" id="CDname" [(ngModel)]="categoryDescription" name="categorydescription" #categorydescription="ngModel"
            required minlength="3" maxlength="100">
          <div *ngIf="categorydescription.errors && categorydescription.touched" class="alert alert-danger">
            <span *ngIf="categorydescription.errors.required">
            Description is required
          </span>
            <span *ngIf="categorydescription.errors.minlength">
            Description should be minimum {{ categorydescription.errors.minlength.requiredLength }} characters.
          </span>
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="Quotes">Quotes</label>
          <input type="text" class="form-control" id="Quotes" [(ngModel)]="quotes" name="quotes" #quote="ngModel" required minlength="3" maxlength="100">
          <div *ngIf="quote.errors && quote.touched" class="alert alert-danger">
            <span *ngIf="quote.errors.required">
            Quotes is required
          </span>
            <span *ngIf="quote.errors.minlength">
            Quote should be minimum {{ quote.errors.minlength.requiredLength }} characters.
          </span>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Upload Image</label>
          <input type="file" class="form-control file-upload" name="image" ng2FileSelect [uploader]="uploader" accept="image/jpeg"
            [(ngModel)]="image" #imageName="ngModel" required/>
            <div class="alert alert-danger" *ngIf="imageName.invalid && imageName.touched">
                    <strong class="required-error-msg-text">{{imageName.errors.required}}</strong>
                </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-right">
      <input type="submit" class="e-learning-btn" [disabled]="!Form.form.valid" id="createcategorybtn" value="Submit">
      <input type="submit" class="e-learning-btn " [routerLink]="['/adminDashboardcategory']" value="Cancel">
    </div>
  </form>
</div>