<div class="container-fluid">
  <h2>Update Course</h2>
  <hr>
  <form class="login-form" (ngSubmit)="onSubmit()" #updateCoursesForm="ngForm">
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="coursename">Course Name</label>
        <input type="text" class="form-control" id="name" value="{{course?.name}}" [(ngModel)]="course.name" name="name" #name="ngModel"
          required minlength="3" maxlength="45" />

        <div *ngIf="name.errors && name.touched" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Course Name is required
          </div>
          <div *ngIf="name.errors.minlength">
            Course Name should be minimum {{name.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="description">Course Description</label>
        <input type="text" class="form-control" id="description" value="{{course?.description}}" [(ngModel)]="course.description"
          name="description" #description="ngModel" required minlength="3" maxlength="100" />
        <div *ngIf="description.errors && description.touched" class="alert alert-danger">
          <div *ngIf="description.errors.required">
            Course Description is required
          </div>
          <div *ngIf="description.errors.minlength">
            Course Description should be minimum {{description.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="status">Status</label> <br>
        <input type="radio" id="status" name="status" value="Active" [(ngModel)]="course.status">Active
        <input type="radio" id="status" name="status" value="Inactive" [(ngModel)]="course.status">In-Active
      </div>
      <div class="col-sm-6">
        <br>
        <button type="submit" class="e-learning-btn" [disabled]="!updateCoursesForm.valid">Save</button>
        <button type="button" class="e-learning-btn" [routerLink]="['/courseList', categoryId,categoryname]"> Cancel</button>
      </div>
    </div>

  </form>
</div>