<div class="http-errors">
        <div id="bigBox">
                <div id="box"></div>
                <div id="box2"></div>
                <div id="box3"></div>
        </div>
        <div id="bigBox2">
                <div id="box"></div>
                <div id="box2"></div>
                <div id="box3"></div>
        </div>
        <div id="bigBox3">
                <div id="box"></div>
                <div id="box2"></div>
                <div id="box3"></div>
        </div>
        <div class="component">
                <ul class="align">
                        <li>
                                <figure class='book'>
                                        <ul class='hardcover_front'>
                                                <li>
                                                        <div class="coverDesign blue">
                                                                <h1><img src="./assets/img/atmecs.png"></h1>
                                                                <p>404</p>
                                                        </div>
                                                </li>
                                                <li></li>
                                        </ul>
                                        <ul class='page'>
                                                <li></li>
                                                <li>
                                                 <a class="home" routerLink="/{{home}}">Home</a>
                                                </li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                        </ul>
                                        <ul class='hardcover_back'>
                                                <li></li>
                                                <li></li>
                                        </ul>
                                        <ul class='book_spine'>
                                                <li></li>
                                                <li></li>
                                        </ul>
                                </figure>
                                <div>
                                        <div class="typewriter">
                                                <br>
                                                <br>
                                                <p id="notFound">Page Not Found</p>
                                        </div>
                                        <br>
                                        <p id="logo">ATMECS ELearning</p>
                                </div>
                        </li>
                </ul>
        </div>
</div>