<div class="app-login" [style.background]="bgImg">
    <div class="row">
        <form class="app-login-form" #Form="ngForm" (ngSubmit)="register()">
            <div class="app-login-heading">
                <label>Register</label>
            </div>
            <div class="app-form-container">
                <div class="form-group">
                    <input class="form-control reg-form-input" name="name" id="name" type="text" placeholder="Name" [(ngModel)]="name" #Name="ngModel"
                        required maxlength="25"/>
                    <div *ngIf="Name.errors && Name.touched" class=" validations">
                        <div *ngIf="Name.errors.required">
                            <strong><p id="validation">N</p>ame is required</strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control reg-form-input" name="email" id="email" type="email" placeholder="Email" [(ngModel)]="email" #Email="ngModel"
                        required pattern="[a-z0-9._%+-]+@atmecs+\.[a-z]{2,3}$" (change)=emailChange(Email.value) maxlength="40"/>
                    <div *ngIf="Email.errors && Email.touched" class=" validations">
                        <div *ngIf="Email.errors.required">
                            <strong> <p id="validation">E</p>mail is required</strong>
                        </div>
                        <div *ngIf="Email.errors.pattern">
                            <strong><p id="validation">U</p>se your ATMECS email id</strong>
                        </div>

                    </div>
                    <div class="validations" *ngIf="!validEmail">
                        {{existingEmail}} is already registered!!!
                    </div>


                </div>
                <div class="form-group">
                    <input class="form-control reg-form-input" name="username" id="username" type="text" placeholder="Username" [(ngModel)]="username"
                        #Username="ngModel" required (change)="userChange(Username.value)" maxlength="15"/>
                    <div *ngIf="Username.errors && Username.touched" class=" validations">
                        <div *ngIf="Username.errors.required">
                            <strong><p id="validation">U</p>sername is required</strong>
                        </div>
                    </div>
                    <div class="validations" *ngIf="!validUser">
                        {{existingUsername}} is already taken. Try another!!!
                    </div>

                </div>

                <div class="form-group">
                    <select class="form-control reg-form-input" name="gender" [(ngModel)]="gender" #Gender="ngModel" placeholder="Gender">
                        <option *ngFor="let g of genderArray" [ngValue]="g">{{g}}</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control reg-form-input" name="password" id="password" type="password" placeholder="Password" [(ngModel)]="password"
                        #Password="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="20" />

                    <div *ngIf="Password.errors && Password.touched" class=" validations">
                        <div *ngIf="Password.errors.required">
                            <strong><p id="validation">P</p>assword is required</strong>
                        </div>
                        <div *ngIf="Password.errors.pattern">
                            <strong><p id="validation">P</p>assword must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control reg-form-input" name="confirmpassword" id="confirmpassword" type="password" placeholder="Confirm Password"
                        [(ngModel)]="confirmpassword" #Confirmpassword="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        (change)="confirmPasswordChange(Confirmpassword.value)" maxlength="20" />
                    <div *ngIf="Confirmpassword.errors && Confirmpassword.touched" class=" validations">
                        <div *ngIf="Confirmpassword.errors.required">
                            <strong><p id="validation">C</p>onfirm Password is required</strong>
                        </div>
                    </div>
                    <div class="validations" *ngIf="!validConfirmPassword">
                        Passwords do not match!!!
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control reg-form-input" name="mobile" id="mobile" type="text" placeholder="Mobile Number" [(ngModel)]="mobile"
                        #Mobile="ngModel" required maxlength="10" pattern="[0-9]{10}" />
                    <div *ngIf="Mobile.errors && Mobile.touched" class=" validations">
                        <div *ngIf="Mobile.errors.required">
                            <strong><p id="validation">M</p>obile is required</strong>
                        </div>

                        <div *ngIf="Mobile.errors.pattern">
                            <strong><p id="validation">M</p>obile number should be valid 10 digit number</strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <select name="question1" class="form-control reg-form-input" [(ngModel)]="question1" #Question1="ngModel">
                        <option *ngFor="let q1 of question1Array" [ngValue]="q1">{{q1}}</option>
                        
                     </select>
                    <input class="form-control reg-form-input" name="answer1" id="answer1" type="text" placeholder="Answer1" [(ngModel)]="answer1"
                        #Answer1="ngModel" required maxlength="20"/>
                    <div *ngIf="Answer1.errors && Answer1.touched" class=" validations">
                        <div *ngIf="Answer1.errors.required">
                            <strong><p id="validation">A</p>nswer1 is required</strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <select name="question2" class="form-control reg-form-input" [(ngModel)]="question2" #Question2="ngModel">
                        <option *ngFor="let q2 of question2Array" [ngValue]="q2">{{q2}}</option>
                        
                     </select>

                    <input class="form-control reg-form-input" name="answer2" id="answer2" type="text" placeholder="Answer2" [(ngModel)]="answer2"
                        #Answer2="ngModel" required maxlength="20"/>
                    <div *ngIf="Answer2.errors && Answer2.touched" class=" validations">
                        <div *ngIf="Answer2.errors.required">
                            <strong><p id="validation">A</p>nswer2 is required</strong>
                        </div>
                    </div>
                </div>
                <div *ngIf="successfull" class="text-success bg-primary text-center">
                    <div>{{username}} successfully registered</div>
                </div>
                <div class="text-error bg-primary text-center" *ngIf="error">
                    <div>Password and confirm password not matching</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary app-btn-submit" type="submit" [disabled]="!Form.form.valid || !validEmail || !validUser || !validConfirmPassword">Register</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary app-btn-submit" type="button" [routerLink]="['/login']" >Back to Login</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>