<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/adminDashboardcategory']" class="glyphicon glyphicon-home"></a></li>
        <li><a [routerLink]="['/courseList',categoryId,categoryName]">{{categoryName}}</a></li>
        <li><a [routerLink]="['/videoList',categoryId,courseId]">{{courseName}}</a></li>
        <li>{{videoName}}</li>
    </ol>
    <h2>{{videoName}}<button type="button" class="app-read-more pull-right" [routerLink]="['/addQuestion',courseId, videoId]">add questions</button></h2><hr>

    <div *ngIf="test.length == 0" class="text-center">
        <h2 class="text-danger"> No Questions Available!!!</h2>
    </div>
    
    <ol *ngIf="test.length != 0">
        <div class="accordian" id="myAccordian">
            <div *ngFor="let quiz of test; let i=index">
                <div class="panel app-panel">
                    <div class="modal-header">
                        <div class="col-xs-10">
                            <button class="quiz-white-btn" data-parent="#myAccordion" data-toggle="collapse" [attr.data-target]="'#collapse-' + i">
                                Q{{i+1}}-<li style="display:inline">{{quiz.question}}</li>
                                </button>
                        </div>
                        <div class="col-xs-2">
                            <i class="material-icons app-back-button pull-right" (click)="deleteQuestion(quiz._id)">delete</i>
                            <i class="material-icons app-back-button pull-right" [routerLink]="['/updateQuestion',quiz.courseId,quiz.videoId,quiz._id]">edit</i>
                        </div>
                    </div>
                    <div [attr.id]="'collapse-' + i" class="panel-collapse collapse opt-ans">
                        <ol type="A">
                            <div *ngFor="let options of quiz.options">
                            <li class="margin-ans">{{options}}</li>
                            </div>
                        </ol>
                        <label class="margin-ans">Answer :</label>{{quiz.answer}}
                    </div>
                </div>
            </div>
        </div>
    </ol>

</div>