<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/adminDashboardcategory']" class="glyphicon glyphicon-home"></a></li>
        <li><a [routerLink]="['/courseList',categoryId,categoryName]">{{categoryName}}</a></li>
        <li>{{courseName}}</li>
    </ol>
    <h2>{{courseName}} <a [routerLink]="['/createVideo', categoryId, courseId]"><button  class="app-read-more-admin pull-right" >Add Video</button></a></h2><hr>

    <div *ngIf="videolist.length == 0" class="text-center">
        <h2 class="text-danger"> No Videos Available!!!</h2>
    </div>

    <div *ngIf="videolist.length != 0" >
        <table class="table text-centered table-responsive table-main">
            <thead>
                <tr class="thead-color">
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>AddQuiz</th>
                    <th>Play</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Priority</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="tbody-class">
                <tr *ngFor="let video of videolist; let i = index" [attr.id]="'row' + i" class="tr-class table-tr">
                    <td class="td-class">{{i+1}}</td>
                    <td class="td-class">{{video.name}}</td>
                    <td class="td-class" width="20%">{{video.desc}}</td>
                    <td class="td-class" (click)="addQuiz(courseId,video._id,video.name)">addQuiz</td>
                    <td class="td-class" (click)="modalOpen(i)">Video</td>
                    <td class="td-class" [routerLink]="['/updateVideo',categoryId,courseId,video._id]"><img src="assets/img/pencil.png" onmouseover="this.src='assets/img/edit.png'" onmouseout="this.src='assets/img/pencil.png'"/></td>
                    <td class="td-class" (click)="deleteVideo(video._id,video.path)"><img src="assets/img/delete.png" onmouseover="this.src='assets/img/deletehover.png'" onmouseout="this.src='assets/img/delete.png'"/></td>
                    <td class="td-class" width="20%">
                        <input type="number" [attr.id]="'priority' + i" min="1" [attr.max]="videolist.length"  pattern ="[0-9]*">
                        <img src="assets/img/swap.png" (click)="swapVideo(video._id,video.priority,i)" class="swap-animation"/>
                        
                    </td>
                    <td class="td-class">{{video.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal #modal>
    <modal-header>
        <h4 class="modal-title">{{ videoName | uppercase }}</h4>
    </modal-header>
    <modal-body>
        <div class="modal-title" style="text-align:center ;line-height:22px; font-size: xx-large;"> {{ videoDesc | uppercase }}</div>
        <video id="app-video" type="video/mp4" style="width:100%;margin-top:50px;" [src]="videolink" controls autoplay controlsList="nodownload"></video>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="close($event)">Ok</button>
    </modal-footer>
</modal>