<div class="container-fluid">
    <h2>Admin Video component</h2>
    <hr>
    <form #createVideoForm=ngForm (ngSubmit)="addVideo()">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="videoname">Video Name</label>
                    <input type="text" class="form-control" id="videoName" [(ngModel)]="videoName" name="videoName" #videoname="ngModel" required
                        minlength="3">
                    <div *ngIf="videoname.errors && videoname.touched" class="alert alert-danger">
                        <div *ngIf="videoname.errors.required">
                            VideoName is required
                        </div>
                        <div *ngIf="videoname.errors.minlength">
                            Video Name should be minimum {{ videoname.errors.minlength.requiredLength }} characters.
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="videodescription">Video Description</label>
                    <input type="text" class="form-control" id="videodescription" [(ngModel)]="videoDescription" name="videoDescription" #videodescription="ngModel"
                        required minlength="3" />
                    <div *ngIf="videodescription.errors && videodescription.touched" class="alert alert-danger">
                        <div *ngIf="videodescription.errors.required">
                            Video Description is required
                        </div>
                        <div *ngIf="videodescription.errors.minlength">
                            Video Description should be minimum {{ videodescription.errors.minlength.requiredLength }} characters.
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="single">Upload Video</label>
                    <input type="file" class="form-control file-upload" name="video" ng2FileSelect [uploader]="uploader" accept="video/mp4,video/webm"
                        [(ngModel)]="video" #uploadVideo="ngModel" required/>
                    <div class="alert alert-danger" *ngIf="uploadVideo.invalid && uploadVideo.touched">
                        <strong class="required-error-msg-text">{{uploadVideo.errors.required}}</strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <br>
                <input type="submit" class="e-learning-btn" [disabled]="!createVideoForm.form.valid" id="createcategorybtn" value="Submit">
                <button type="button" class="e-learning-btn" id="createCourse" [routerLink]="['/videoList',categoryId,courseId]">Cancel</button>
            </div>
        </div>

    </form>
</div>