<nav class="ae navbar navbar-default navbar" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand hand-pointer" routerLink="/{{home}}">
            <img src="assets/img/atmecslogo.png" alt="Atmecs E-Learning" class="img-responsive" />
        </a>

        <div *ngIf="ADMIN" class="pull-right admin-margin">
            <label class="switch  hand-pointer">
                        <input type="checkbox" [checked]="adminfeature"  (click)="toggleStatus(adminfeature)">
                        <div class="slider round admin-toggle-slider">
                                <p class="admin noselect">ADMIN</p>
                                <p class="user noselect">USER</p>
                        </div>
                    </label>
        </div>

        <button type="button" class="navbar-toggle collapsed pull-right menu-btn" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse collapse-menu" id="navbar-collapse-1">
            <ul class="nav navbar-right navbar-nav login-dropdown hand-pointer">
                <li *ngIf="ADMIN && adminfeature"><a routerLink="/adminDashboardcategory"><span class="glyphicon glyphicon-home pull-left"></span>Home</a></li>
                <li *ngIf="ADMIN && !adminfeature"><a routerLink="/dashboard"><span class="glyphicon glyphicon-home pull-left"></span>Home</a></li>
                <li *ngIf="USER"><a routerLink="/dashboard"><span class="glyphicon glyphicon-home pull-left"></span>Home</a></li>
                <li *ngIf="SUPERADMIN"><a routerLink="/superAdmin">Home<span class="glyphicon glyphicon-home pull-left"></span></a></li>
                <li><a routerLink="/about"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown" data-toggle="dropdown"><span class="glyphicon pull-left"><img class="gender-symbol"[src]="genderImgUrl"></span><b>Hi {{userName}}</b></a>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li *ngIf="USER || ADMIN && !adminfeature"><a routerLink="/previousTestScores">Previous TestScores<span class="glyphicon glyphicon-list pull-right"></span></a></li>
                        <li *ngIf="ADMIN && adminfeature"><a routerLink="/getAllUserQuiz">User Results<span class="glyphicon glyphicon-list pull-right"></span></a></li>
                        <li *ngIf="ADMIN && adminfeature" class="divider"></li>
                        <li *ngIf="USER || ADMIN && !adminfeature" class="divider"></li>
                        <li> <a data-target="#editProfile" data-toggle="modal" class="bg-muted" (click)="getUserProfile()">
                            <span class="glyphicon glyphicon-edit pull-right"></span>Edit Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li> <a data-target="#chgPwdModal" data-toggle="modal" class="bg-muted" (click)="updatePasswordVariable()">
                            <span class="glyphicon glyphicon-lock pull-right"></span>Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out pull-right"></span>Sign Out</a>
                    </ul>
                    </li>
            </ul>
        </div>
    </div>

</nav>

<div id="chgPwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h1 class="text-center">Change Password</h1>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <form class="form">
                                <div class="form-group">
                                    <input class="form-control input-lg" placeholder="E-mail Address" name="email" value="{{profile?.userProfile?.email}}" type="email"
                                        #emailId>
                                    <input type="password" class="form-control input-lg" name="oldPassword" placeholder="Enter Old Password" #oldPassword />
                                    <input type="password" class="form-control input-lg" name="newPassword" placeholder="Enter New Password" #newPassword /><br>
                                    <input class="btn btn-lg btn-primary" value="Submit" type="button" (click)="changePassword(emailId.value,oldPassword.value,newPassword.value)">
                                    <input class="btn btn-lg btn-primary" value="Cancel" type="submit" data-dismiss="modal">
                                    <div *ngIf="updatePassword" innerHTML="{{updatePasswordMessage}}"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editProfile" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h1 class="text-center">Edit Profile</h1>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <form class="form">
                                <div class="form-group">
                                    <input class="form-control input-lg" name="email" id="email" type="email" placeholder="Email" value="{{profile?.userProfile?.email}}"
                                        [disabled]="valid" #email required/>
                                    <input class="form-control input-lg" name="mobile" id="mobile" type="text" placeholder="Mobile Number" value="{{profile?.userProfile?.mobile}}"
                                        #mobile required/><br>
                                    <input class="btn btn-lg btn-primary" value="Edit Profile " type="submit" data-dismiss="modal" (click)="editUserProfile(mobile.value,email.value)">
                                    <input class="btn btn-lg btn-primary" value="Cancel" type="submit" data-dismiss="modal">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>