<div class="container-fluid">
  <h2>Update Category</h2>
  <hr>
  <form class="login-form" (ngSubmit)="updateCategory()" #updateForm="ngForm">
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="name">Category Name</label>
        <input type="text" class="form-control" name="categoryName" [(ngModel)]="cat.name" #categoryName="ngModel" required minlength="3"
          maxlength="500" />
        <div *ngIf="categoryName.errors" class="alert alert-danger">
          <div *ngIf="categoryName.errors.required">
            Category name is required
          </div>
          <div *ngIf="categoryName.errors.minlength">
            Category name should be minimum {{ categoryName.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="description">Category Description</label>
        <input type="text" class="form-control" name="categoryDescription" [(ngModel)]="cat.description" #categoryDescription="ngModel"
          required minlength="3" maxlength="100" />
        <div *ngIf="categoryDescription.errors" class="alert alert-danger">
          <div *ngIf="categoryDescription.errors.required">
            Category description is required
          </div>
          <div *ngIf="categoryDescription.errors.minlength">
            Category description should be minimum {{ categoryDescription.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>
      <br/><br/>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="Quotes">Quotes</label>
        <input type="text" class="form-control" name="quotes" [(ngModel)]="cat.quotes" required #quotes="ngModel" minlength="3" maxlength="100"
        />
        <div *ngIf="quotes.errors" class="alert alert-danger">
          <div *ngIf="quotes.errors.required">
            Quotes is required
          </div>
          <div *ngIf="quotes.errors.minlength">
            Quotes should be minimum {{ quotes.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>
      <div class="col-sm-6" *ngIf="!show">
        <label for="name"> Update Image</label><br/>
        <img [src]="cat?.imgPath" [style.width.px]="70" [style.height.px]="30" *ngIf="!show" />
        <button (click)="deleteImage(imgPath)" type="button" class="btn btn-default btn-sm btn-primary">
                        <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
      </div>
      <div class="col-sm-6" [hidden]="!show">
        <label for="description">SelectNewImage</label>
        <input ng2FileSelect [uploader]="uploader" type="file" class="form-control file-upload" name="image" #imageName="ngModel"
          accept="image/*" [(ngModel)]="image"  [attr.required]="show ? 'required' : null"/>
           <div class="alert alert-danger" *ngIf="imageName.invalid && imageName.touched">
                    <strong class="required-error-msg-text">{{imageName.errors.required}}</strong>
                </div>
      </div>

    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="status">Status</label> <br>
        <input type="radio" name="status" value="Active" [(ngModel)]="cat.status" #status>Active
        <input type="radio" name="status" value="Inactive" [(ngModel)]="cat.status" #status>In-Active
      </div>
      <div class="col-sm-6">
        <br>
        <button type="submit" class="e-learning-btn" [disabled]="!updateForm.form.valid">Save</button>
        <button type="button" class="e-learning-btn " [routerLink]="['/adminDashboardcategory']"> cancel</button>
      </div>
    </div>
  </form>
</div>