html
{
height:100%;
}

a 
{
    text-decoration: none !important;
}

.path 
{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 2s linear alternate infinite;
}

body 
{
    font-family: 'Muli', sans-serif;
    background: #fff;
    height: 100%;
    width: 100%;
    min-height: 480px !important;
    min-width: 320px !important; 
}

.el-app {
    height:100%;
    width: 100%;
}

.router-outlet 
{
    min-height: 93.7vh;
    max-height: 93.7vh;
    height:100%;
    width:100%;
    padding-top:120px;
    padding-bottom:20px;
    background: #fff;
}

.container-fluid {
    position: relative;
    height:100%;
    width:100%;
    margin: 0;
    overflow: auto;
}

.scrollable-menu 
{
    overflow: auto;
    z-index: 1000 !important;
}

.black 
{
    color: black;
}

.breadcrumb {
	background-color:#829bce;
    color:white;
	border: 2px solid whitesmoke;
    border-radius: 10px;
}

ol {
    padding: 0%;
}

.margin-top 
{
    margin-top:3%;
}

@-webkit-keyframes dash 
{
  from {
    stroke-dashoffset: 1000;
    fill-opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

*:focus 
{
    outline: none !important;
}

.well-sm  
{
    position: static;
    background-color:#008080 !important; 
    color: white !important;
    font-family: 'Muli', sans-serif;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.nav>li>a:hover 
{
    background-color:transparent !important;
    color: whitesmoke !important;
    border-radius: 5px;
    font-weight:bold;
}

.zero-padding 
{
    padding: 0px !important;
}

.app-card-container 
{
    width: 100%;
    min-height: 320px;
    height: 320px;
    padding: 5px;
}

.app-card-main 
{
    position: relative;
    height: 100%;
    margin: 5px;
}

.app-card 
{
    position:absolute;
    background: #fff;
    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
    border-radius: 10px;
    transition: all .3s ease;
    border: 0;
    height: 100%;
    width:100%;
}

.app-card-desc{
display:inline-block;
position:absolute;
width:90%;
height:70%;
/*white-space: nowrap;*/
overflow:scroll !important;
/*text-overflow:ellipsis;*/
}

.app-card-img
{
    width: 100%;
    height: 200px;
    background-size: cover !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#likeCount{
    margin:3% 0% 0 0;
}

.app-card-desc-btn{
    position: relative;
}

.app-card:hover
{
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.app-card-header 
{
    width: 100%;
    height: 190px;
    background-size: cover !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.app-card-body 
{
    padding: 10px;
}

.app-read-more-admin
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 10px 18px;  
    background-color: #829bce;
    border: 0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font: 500 14px/20px Roboto,sans-serif;
    height: 36px;
    margin: 0;
    min-width: 36px;
    outline: 0;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: background-color .2s,box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
    position:static;
    bottom: 24px;
    font-weight: bold;
}
.app-read-more
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 10px 18px;  
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    color: #039be5;
    cursor: pointer;
    display: inline-block;
    font: 500 14px/20px Roboto,sans-serif;
    height: 36px;
    margin: 0;
    min-width: 36px;
    outline: 0;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: background-color .2s,box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
    position:static;
    bottom: 24px;
    font-weight: bold;
}

.e-learning-btn 
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 10px 18px;
    border: 0;
    border-radius: 2px;
    color: #fff;
    background-color: #039be5;
    cursor: pointer;
    display: inline-block;
    font: 500 14px/20px Roboto,sans-serif;
    height: 36px;
    margin: 0;
    min-width: 36px;
    outline: 0;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: background-color .2s,box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: bold;
}

.e-learning-btn[disabled] 
{
    opacity: 0.4; 
    cursor: not-allowed;
}

.app-read-more > a:hover 
{
    text-decoration: none;
}
.app-footer
{
    position:fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin-top: 40px;
    background-color:#008080 !important;
    border-radius: 0px !important;
    box-shadow: 0px -4px 5px 1px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    bottom: 0px;
}

.app-footer-name 
{
    float: right;
}

.app-read-more > a:hover 
{
    text-decoration: none;
}

.app-course-list-container
 {
    background-color:#e7e7e7;
    color: black;
    border-radius: 5px;
}

.app-course-list-header 
{
    height: 50px;
    max-height: 50px;
    padding: 10px;
    border-bottom: 2px outset white;
}

.app-course-list-header-title 
{
    top: 12px;
    position: absolute;
    padding-left: 8px;
    font-weight: bold;    
}

.app-course-list-content
 {
    height:100vh;
    overflow: auto;
}

.app-course-list-item-container 
{
    padding: 10px;
}

.app-course-list-item-content
{
    word-wrap: break-word;
}

.course-quotes
{
    height: 200px;
    text-align: center;
    vertical-align: middle;
    font-style: italic;
    font-size: large;
    margin-top: 50px;
}

.course-video-container
{
    min-height: 530px;
    max-height: 580px;
}

.course-description 
{
    padding: 10px;
}

.app-back-button 
{
    cursor: pointer;
}

.hand-pointer
{
    cursor: pointer;
}

.test-div
{
    height: 380px;
    padding: 20px;
    border: 2px solid #455a64;
    margin:40px 100px;
    border-radius: 10px;    
}
.test-nextprev-div{
    position: absolute;
    top: 370px;
}

.btn-color 
{
    background-color:#008080!important;
    border-color:#008080 !important;
}

.que-number 
{
    font-size: larger;
    font-weight: bolder;
    margin-right: 15px;
}

.timer
{
float: right;
}

.app-like-category
{
    cursor: pointer;
    position: absolute;
    bottom: 26px;
    padding: 2px;
    margin-left: 255px;
}

.app-dislike-category
{
     margin-left: 250px !important;
}

.btn-color
{
    background-color:#008080;
    color: white;
}

.btn
{
    background-color: #829bce;
    color: white;
}

.btn btn-info pull-right
{
    position: relative;
}

.form-container 
{
    height: 300px;
    min-height: 300px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 0px 8px rgba(0,0,0,.28);
    margin-left: 20%;
    margin-right: 20%;
}

.form-container-registration
{
    height: 500px;
    min-height: 500px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 0px 8px rgba(0,0,0,.28);
    margin-left: 20%;
    margin-right: 20%;
}

.form-container-div 
{
    padding: 30px;
}

.form-control 
{
    
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.search{
    width:30%
}

.dropdown-menu 
{
    background-color: white  !important;
}

ul.dropdown-menu a 
{
    color:black !important;
}

ul.dropdown-menu a:hover 
{
    color: black !important;
}

.app-back-button 
{
    padding: 5px;
    padding-bottom:0px;
    padding-top:10px;
    margin-right: 8px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 10px -2px black;
}

.app-panel 
{
    box-shadow: 2px 2px 10px -2px black !important;
}

.app-login 
{
    background-image: url('./assets/img/login-bg.jpg');
    background-size: cover !important;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: repeat;
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -ms-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}

.app-login-form 
{
    max-width: 385px;
    padding: 15px;
    margin: 50px auto;
    background: rgba(39, 71, 65, 0.58);
    border-radius: 5px;
}
.app-social-signin
{
    margin-left: 25% !important;
    margin-top: 12px !important;
}

.app-social-signin-img:hover 
{
    opacity: 0.9;
}
.app-btn-submit 
{
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-top: 20px; 
}
.app-email-input 
{
    border-radius: 5px 5px 0px 0px !important;
}
.app-pass-input 
{
    border-radius: 0px 0px 5px 5px !important;
}

.app-login-heading 
{
    color: white;
    font-size: larger;
    text-align: center;
    margin-bottom: 20px;
}

.navbar-inverse.navbar-nav > li > a 
{
    color:black;
}

.quiz-form
{
    padding-left:30px;
}

.login-dropdown
{
    position: absolute;
    top:48px;
    right: 0;
    margin-right: 4.4%;
    color:whitesmoke;
}

.collapse[aria-expanded="true"] > ul.login-dropdown
{
        top:92px;
}

#login-dp 
{
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: auto;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp.help-block 
{
	font-size: 12px
}

#login-dp.bottom
{
	background-color: rgba(255, 255, 255, .8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp.social-buttons 
{
	margin: 12px 0
}

#login-dp.social-buttons a
{
	width: 49% ;
}

#login-dp.form-group 
{
	margin-bottom: 10px;
}

.btn-fb
{
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover
{
    color: #fff;
    background-color: #496ebc 
}

.btn-tw
{
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover
{
    color: #fff;
    background-color: #59b5fa;
}

@media(max-width:768px)
{
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp.bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

::-webkit-scrollbar 
{
	display: none;
}

.navbar-brand > img {
    margin: 15px 0px;
    width: 200px !important;
}

@media screen and (max-width: 359px)
{
    .navbar-brand > img {
        height: 75px !important;
        width: 150px !important;
    }
}

.navbar-header
{
    width: 100%;
}

.ae.navbar 
{
    position:fixed;
    background-color: #fff;
    height: 100px;
    padding: 0% 5%;
    margin:0% 0%;
    top:0;
    left:0;
    width:100%;
    z-index: 15;
    box-shadow: 1px 0 5px gray;
}
.panel-info > .panel-heading
{
	color: #000;
	background-color: #CA5A10;
	border-color: #CA5A10;
}

.panel-default>.panel-heading{
    background-color:white;
}

.panel-info 
{
		border-color: #CA5A10;
}

.btn-info 
{
	color: #fff;
	background-color: #303030;
	border-color: #303030;
}

.card-col 
{
	padding-bottom: 20px;
}
.card 
{
	width: 100% ;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px#E4E6E7;
}

.card-img-top 
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100% ;
}

.card-block 
{
	width: 100% ;
	padding: 10px;
}

.card-text 
{
	min-height: 50px;
}

.card-btn 
{
	color: #337ab7;
	background-color: #fff;
	border-color: #fff;
	box-shadow: 5px 5px 5px#E4E6E7;
}

.file 
{
	visibility: hidden;
	position: absolute;
}

[hidden] 
{ 
    display: none !important;
 }

nav.sidebar:hover + .main
{
      margin-left: 200px;  
}

 nav.sidebar .navbar-brand, nav.sidebar .navbar-header
 {
      text-align: center;
      width: 100%;
      margin-left: 0px;
}
    
nav.sidebar a
{
     padding-right: 13px;
}

nav.sidebar .navbar-nav > li:first-child
{
      border-top: 1px #e5e5e5 solid;
 }

nav.sidebar .navbar-nav > li
{
    border-bottom: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav .open .dropdown-menu 
{
      float: none;
      width: auto;
      height:100%;
      margin-top: 0;
      background-color: #CCC;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid
{
      padding: 0px 0px;
}

.collapse-menu:before
{
        height:50px !important;
        background-color: #CCC;
}

.dropdown-menu 
{
        min-width:220px;
}

 .navbar-inverse .navbar-nav .open .dropdown-menu>li>a 
 {
      color:black;
}

nav.sidebar
{
    overflow: auto;
    width:300px;
    height:100vh;
}

nav.sidebar li 
{
      width:100%;
      border:0;
      margin:0;
      padding:0;
}

 .forAnimate
 {
      opacity: 0;
}
    
  @media (min-width: 1330px) 
  {
    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

 nav.sidebar
 {
      margin-left: 0px;
      float: left;
 }

  nav.sidebar .forAnimate
  {
      opacity: 1;
    }
}

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus 
  {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate
  {
    opacity: 1;
  }
  
  section
  {
    padding-left: 15px;
  }

.no-padding 
{
	padding: 0px !important;
}

.no-margin 
{
	margin: 0px !important;
}

.checkbox 
{
	padding-left: 20px;
}

.checkbox label 
{
	display: inline-block;
	position: relative;
	padding-left: 5px;
}

.checkbox label::before 
{
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid#cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out,
	color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out,
	color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out,
	color 0.15s ease-in-out;
}

.checkbox label::after 
{
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555; 
}

.checkbox input[type = "checkbox"] 
{
	opacity: 0;
}

.checkbox input[type = "checkbox"] focus+label::before 
{
	outline: thin dotted;
	outline: 5px auto-webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type = "checkbox"] checked+label::after 
{
	font-family: 'FontAwesome';
	content: "\f00c";
}

.checkbox input[type = "checkbox"] disabled+label 
{
	opacity: 0.65;
}

.checkbox input[type = "checkbox"] disabled+label::before 
{
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before 
{
	border-radius: 50% ;
}

.checkbox.checkbox-inline 
{
	margin-top: 0;
}

.checkbox-primary input[type="checkbox"] checked + label::before 
{
	background-color: #428bca;
	border-color: #428bca;
}

.checkbox-primary input[type="checkbox"] checked + label::after
{
	color: #fff;
}

.form-control[disabled] 
{
	background-color: #fff !important;
}

.checkbox-success input[type="checkbox"] checked + label::before 
{
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"] checked + label::after
{
	color: #fff;
}

.cat-label 
{
   font-weight: 700;
}

.input-group-addon 
{
	background-color: #fff;
	border: 1px solid#ccc;
}

.navbar-inverse.navbar-nav > li > a hover 
{
	font-weight: 700;
	color:black;
}

.btn-quiz
{
    padding:10px;
}

#footer 
{
    background-color: #fff;
    width: 100%;
    text-align: center;
}

#footer a 
{
	color: #286090;
	font-weight:600;
}

#footLine {
    width:33%;
    border-top:1px solid black;
    display:inline-block;
}

.navbar-default .navbar-nav>li>a 
{
    color:#341888 !important;
    background: #fff !important;
}

.app-sub-cat 
{
    display:block;
    padding:10px 15px;
    color:#777;
    text-decoration: none;
}

.app-sub-cat:hover 
{
    color:cornflowerblue;
    text-decoration: none;
    font-weight:bold;
}

.app-sub-cat1 
{
    display:block;
    padding:10px 0px 0px 0px     !important;
    color:#4286f4;
}

.app-sub-cat1:hover 
{
    color: #4286f4;
    background: white;
    font-weight: bold;
    text-decoration: none;
   
}

.app-sub-cat1:active 
{
    color: black;
    background: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.app-sub-cat1::after
{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: lightskyblue;
    transition: width .3s;
}

.app-sub-cat1:hover::after
{
    width: 100%;
    transition: width .3s; 
}

li.app-sub-cat1:active, li.app-sub-cat1:focus, li.app-sub-cat1:visited, li.app-sub-cat1:onclick
{
    color:cornflowerblue;
    text-decoration: none;
    border-right: 5px solid;
    font-weight:bold;
}

.app-sub-cat:focus, .app-sub-cat1:focus, .app-sub-cat[aria-expanded='true'] 
{
    color:cornflowerblue;
    text-decoration: none;
    border-left: 5px solid;
    font-weight:bold; 
}

.caret 
{
    float: right !important;
    transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    margin-top: 10px;
}

.app-sub-cat[aria-expanded='true'] .caret 
{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.app-sub-cat:focus .caret 
{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.panel1 
{
    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
    transition: all .3s ease;
    margin: 20px 10px;
    height:210px;
    width:100%;
}

.panel-desc 
{
    text-align: justify;
    height:100px;
    width:100%;
    overflow: auto;
}

.switch 
{
 position: relative;
 display: inline-block;
 width: 90px;
 height: 32px;
}

.switch input
 {
    display:none;
}

.slider 
{
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color:darkseagreen ;
 -webkit-transition: .4s;
 transition: .4s;
}

.admin-toggle-slider 
{
    background-color: #829bce;
}

.slider:before 
{
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider
{
 background-color:darkcyan ;
}

input:checked + .admin-toggle-slider 
{
 background-color:#829bce ;
}

input:focus + .slider 
{
 box-shadow: 0 0 1px lightgray ;
}

input:checked + .slider:before 
{
 -webkit-transform: translateX(55px);
 -ms-transform: translateX(55px);
 transform: translateX(55px);
}

.admin
{
 display: none;
 color: white;
 font-weight: bold;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 38%;
 font-size: 12px;
 font-family:'Times New Roman';
}

.user
{
    color: white;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 58%;
    font-size: 12px;
    font-family:'Times New Roman';
}

input:checked+ .slider .admin
{
    display: block;
}

input:checked + .slider .user
{
    display: none;
}

.slider.round 
{
 border-radius: 34px;
}

.slider.round:before 
{
 border-radius: 50%;
}

 .img-size 
 {
     height:80px;
     width:140px;
 }

 .video-size 
 {
     height:15px;
     width:15px;
 }

 .justify 
 {
     text-align:justify;
 }

 .forget
 {
     color:white;
     font-weight:bold;
     text-decoration:none;
 }

 .centered-text
 {
     position:absolute;
     top:50%;
     left:5%;
 }

 .video-component 
 {
     padding: 5%;
 }

.vg-buffering {
    width: 90% !important;
}

.vg-overlay-play, .vg-scrub-bar, .vg-controls, .app-video  {
    width: 80% !important;
}

 video#app-video 
 {
     visibility: visible;
 }

.video-playlist {
    width: 20%;
    background: #4c403d;
    position: relative;
    float:right;
    overflow: auto;
}

.video-player-custom-button {
    margin-top: 17px;
    margin-left: 15px;
    color: whitesmoke;
    font-size: 17px;
    cursor: pointer;
}

div.video-playlist > ul.list-group {
    margin:0px;
    padding:0px;
}

div.video-playlist > ul.list-group > li.list-group-item {
    background: #2e5491;
    color: whitesmoke;
    font-weight: bold;
    margin:0px !important;
    border: none;
    border-bottom: 2px solid white;
    margin: 0% 10%;
    cursor: pointer;
}


div.video-playlist > ul.list-group > li.list-group-item:hover {
    border-bottom-color: aqua !important;
}

div.video-playlist > ul.list-group > li.list-group-item >a {
    color: whitesmoke;
}

 .video-full-size {
    position: fixed;
    top:0;
    left:0;
    padding: 2% 8% 15% 8%;
    height: 100%;
    width: 100%;
    z-index: 300;
    background-color: black;
    color: white;
 }

 .visible 
 {
     visibility:visible;
 }

 .glyphicon 
 {
     padding-right:20px;
 }

 .gender-symbol
 {
     border-radius: 50%; 
     max-height: 30px; 
     margin: -3px; 
     cursor:pointer;
 }

 .thead-color 
 {
     background-color:#829bce;
     color:white;
 }

 .quiz-white-btn 
 {
     background-color:transparent;
     border:none;
     color:black;
     font-weight:bold;
     text-align: left;
     width:100%;
 }

 .opt-ans 
 {
     padding-left:7%;
 }

 .margin-ans 
 {
    margin-top:1%;
 }

 .table-margin
  {
     margin-top:50px;
 }

  .noselect 
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}

 .admin-margin 
 {
     margin-top:15px;
 }

 button.menu-btn
 {
	margin-top: 60px;
    position: absolute;
    right: 0;
    margin-right: 4.4%;
    background-color:white;
 }

 .no-script 
 {
     width:100%;
     position:absolute;
     text-align:center;
 }

.canvas
 {
     height:200px;
     width:400px;
     top:50%;
     left:52%;
     position:fixed;
     margin-top:-100px;
     margin-left: -200px;
 }

 canvas#canvas 
 {
    height:200px;
    width:400px;
 }

 accordion div 
 {
    position: relative;
    height:100%;
    width:100%;
    margin-bottom: 0 !important;
}

#categoryListAccordian accordion-group::after
{
    content: '';
    display: block;
    width: 0;
    background: lightskyblue;
    transition: width .3s;
    margin-bottom: 0 !important;
}

#categoryListAccordian accordion-group:hover::after
{
    width: 100%;
    transition: width .3s;  
}

#courseListAccordian div
{
    background: whitesmoke !important; 
    color:black !important; 
    margin-left:0 !important;
    margin-top:0 !important;
    border:0 !important; 
    margin-bottom: 0 !important; 
}

#courseListAccordian div:hover
{  
    font-weight: bold;
}

#courseListItemAccordion div
{
    background-color: #e8ecf2 !important;
    color:black !important;
    padding-left:0 !important;
    padding-top:0 !important;
    margin-left:0 !important;
    margin-top:0 !important;
}

#courseListItemAccordion div:hover{
    background-color: #e8ecf2 !important;
}

#validation
{
    display: inline-block;
    color:red;
    font-weight: bold;
}

.http-errors 
{
    position:absolute;
    top:0;
    left:0;
    background-image:url('../../assets/img/tiles.png');
    height:100%;
    width:100%;
    z-index:3000;
    padding: 5% 20%;
    overflow: auto;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    color: #34495e;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 400;
	line-height: 1.2;
}

 .validations{
     color:white;
 }
 
 .custom-panel {
	 border:none;
	 box-shadow:0 5px 5px -4px rgba(0,0,0,.75);
 }

 .video-desc {
    height: 145px;
    overflow: auto;
 }

 .swapcolor1 {
     background-color:bisque !important;
     font-weight: bold;
 }

 .swapcolor2 {
     background-color:cornflowerblue !important;
     font-weight: bold;
 }

 .table-main{
     border-radius:10px;
 }
  
 .table-tr{
     cursor: pointer;
     -moz-box-shadow: 6px 6px 5px #b2b2b2;
    -webkit-box-shadow: 6px 6px 5px #b2b2b2;
     box-shadow: 6px 6px 5px #b2b2b2; 
 }

 .img-circular {
        height:60px;
        width:60px;
        opacity:.9;
 }

.td-class {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	-webkit-transition: all 300ms;
    transition: all 300ms;  
}

.td-class .img-cat{
    border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 3px 6px;
	position: relative;
    -webkit-transition: all 300ms;
	transition: all 300ms;   
}

.td-class input{
    opacity:0.5;
}

.tbody-class:hover tr:hover img{
    filter:grayscale(0%);
}

.tbody-class:hover tr:hover td input{
    opacity:1;
}

.tbody-class:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
    font-weight: bold;
}

.tbody-class:hover tr:hover td{
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
.tbody-class:hover td img{
	filter:grayscale(100%);
}

.swap-animation{
    width:40px;
    height:40px;
}
.swap-animation:hover{
    transform:rotate(90deg);
}

.file-upload{
    background: transparent;
    border:none !important;
}

#nav-accordian-start{
    padding-top:20px !important;
}

.list-size {
    font-size: 16px;
    margin: 3%;
    color: gray;
    font-weight: bold;
}

.badge-margin {
    margin-left: 20px;
}
.navToggle{
    cursor:pointer;
}

.navToggle:hover{
    font-size: 1.1em;
    font-weight: bold;
    color:#337ab7;
}

.hide{
    left:-35px;
    margin:0;
}

#videoComponent{
    position:absolute;
}