<div class="container-fluid">
        <h1 class="text-danger" class="centered-text" *ngIf="totalQuestion==0">No Questions For Quiz!!!</h1>
</div>
<div class="test-div" *ngIf="totalQuestion!=0">

        <h4>Quiz</h4>
        <hr>
        <div>
                <p class="pull-right"><b><span class="timer"><b><timer [timeInMinutes]="timeInMin" (onTimeExpire)="onTimeExpire()"></timer></b></span>
                        </b>
                </p>
                <div class="alert">
                        <div class="que-number"> Question {{currentIndex + 1}}</div>
                        <div><label name="question">{{viewQue?.question}}</label></div>
                        <div class="quiz-form form">
                                <div class="radio" *ngFor="let q of viewQue?.options">
                                        <label><input type="radio" [value]="q" name="allq" [(ngModel)]="viewQue.selectedoption" (click)="checkAnswer($index, q)">{{q}}</label>
                                </div>

                        </div>
                        <br>
                        <div class="pull-right">
                                <input class="e-learning-btn" type="button" name="btn1" value="Previous" [disabled]="currentIndex==0" (click)="previousQuestion()">
                                <input class="e-learning-btn" type="button" name="btn2" value="Next" [disabled]="currentIndex==(totalQuestion-1)"
                                        (click)="nextQuestion()">
                                <input class="e-learning-btn" type="button" name="btn3" value="Submit" (click)="submitTest()">
                        </div>
                        <br>
                </div>
        </div>
</div>