<div class="container">
    <div *ngIf="videoList.length == 0" class="text-center">
        <h2 class="text-danger"> No Videos Available!!!</h2>
    </div>

    <div *ngIf="videoList.length != 0">
        <h2>Videos<span class="list-size">{{videoList.length}} videoList</span></h2><hr>
        <div class="col-sm-11 col-md-9" *ngFor="let video of videoList">
            <div class="panel panel-primary custom-panel">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <i class="glyphicon glyphicon-film"></i>{{video.name}}
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left hand-pointer">
                            <a (click)="showVideo(video._id)"><video id="show-video" class="media-object" width="400px" height="200px" src="{{video.path}}"></video></a>
                        </div>
                        <div class="media-body">
                            <h3 class="video-name">{{video.name}}</h3>
                            <p class="video-desc">
                                {{video.desc}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>