
<div class="test-div">
    <div class="row" *ngIf="obtainScore!=0">
        <div class="col-sm-6"  ><img src="../assets/img/Congratulations_Image.png" height="300px" width="300px"></div>
        <div class="col-sm-6">Congratulations!! Your Score is <b> {{ obtainScore }} </b> Out of <b>{{ totalScore }} </b></div>        
    </div>
    <div class="row" *ngIf="obtainScore==0">
        <div class="col-sm-6"  ><img src="../assets/img/tryAgain2.png" height="300px" width="300px"></div>
        <div class="col-sm-6">Sorry!! Your Score is <b> {{ obtainScore }} </b> Out of <b>{{ totalScore }} </b></div>
    </div>
    <a class="app-read-more pull-right" (click)="backToVideo()">Back To Videos</a>
</div> 

