<div class="container-fluid">
    <div class="row">
        <div class="input-group add-on search pull-right">
            <input class="form-control " placeholder="Search Categories" name="term" [(ngModel)]="term" type="text">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let category of categories | filter:term; let i=index ">
            <div class="col-md-4 no-padding">
                <div class="app-card-container">
                    <div class="app-card-main">
                        <div class="app-card">
                            <div [routerLink]="['/classroom', category._id]" class="hand-pointer">
                                <img [src]="filterImage(category.imgPath)" class="app-card-img">
                                <div class="app-card-overlay">
                                </div>
                            </div>
                            <div class="app-card-body">
                                <div class="app-card-title">
                                    <h4>{{ category.name }}</h4>
                                </div>
                                <div class="app-card-desc">
                                    {{ category. description }}
                                </div>
                                <br>
                                <div (click)="increase(category._id,i)" id="likeCount" class="pull-right" title="Likes {{category.likeCount}}">
                                    <div *ngIf="category.likeFlag" class="pull-right"><img src="../assets/img/like.png" class="video-size"></div>
                                    <div *ngIf="!category.likeFlag" class="pull-right"><img src="../assets/img/disLike.png" class="video-size"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="{{category._id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{category.name}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{category.description}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>