<div class="container-fluid">
    <h2>Update Video</h2>
    <form #updateVideoForm="ngForm" (ngSubmit)="updateVideo()">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="videoName">Video Name</label>
                    <input type="text" class="form-control" name="videoName" [(ngModel)]="video.name" #videoName="ngModel" required minlength="3"
                        maxlength="500">
                    <div *ngIf="videoName.errors" class="alert alert-danger">
                        <div *ngIf="videoName.errors.required">
                            VideoName is required
                        </div>
                        <div *ngIf="videoName.errors.minlength">
                            Video Name should be minimum {{ videoName.errors.minlength.requiredLength }} characters.
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="videoDescription">Video Description</label>
                    <input type="text" class="form-control" name="videoDescription" [(ngModel)]="video.desc" #videoDescription="ngModel" required
                        minlength="3" maxlength="500">
                    <div *ngIf="videoDescription.errors" class="alert alert-danger">
                        <div *ngIf="videoDescription.errors.required">
                            Video Description is required
                        </div>
                        <div *ngIf="videoDescription.errors.minlength">
                            Video Description should be minimum {{ videoDescription.errors.minlength.requiredLength }} characters.
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="single">Video</label><br/>
                <div *ngIf="!show">
                    <video  width="300" controls controlsList="nodownload" src="{{video.path}}"></video>
                    <br><button (click)="deleteVideobyId(videoId)" type="button" class="btn btn-default btn-sm btn-primary">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                </div>
                <div *ngIf="show">
                    <input ng2FileSelect [uploader]="uploader" accept="video/mp4,video/webm" type="file" name="video" class="form-control file-upload"
                        [(ngModel)]="video.path" #uploadVideo="ngModel" [attr.required]="show ? 'required' : null" />
                    <div class="alert alert-danger" *ngIf="uploadVideo.invalid">
                        <strong class="required-error-msg-text">{{uploadVideo.errors.required}}</strong>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="status">Status</label> <br>
                <input type="radio" name="status" value="Active" [(ngModel)]="video.status">Active
                <input type="radio" name="status" value="Inactive" [(ngModel)]="video.status">De-Active
                <br>
                <br>
                <button type="submit" class="e-learning-btn" [disabled]="!updateVideoForm.form.valid">Save</button>
                <button type="button" class="e-learning-btn" [routerLink]="['/videoList',categoryId,courseId]">Cancel</button>
            </div>
        </div>


        <div class="col-sm-12 text-right">

        </div>

    </form>
</div>