<div class="container-fluid">
    <h2>Add Question</h2><hr>
    <form #addQuestionForm="ngForm" (ngSubmit)="addQuizQuestion(Question.value,Option1.value,Option2.value,Option3.value,Option4.value,Option5.value,OptionsField.value,Answer.value,point.value,note.value)">
        <div class="form-group row">
            <div class="col-sm-10">
                <label for="question">Questions</label>
                <textarea class="form-control" id="question" name="question" [(ngModel)]="question" #Question="ngModel" required></textarea>
                <div *ngIf="Question.errors && Question.touched" class="alert alert-danger">
                    <div *ngIf="Question.errors.required">
                        Question is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="option1">options1</label>
                <input type="text" class="form-control" id="option1" name="option1" [(ngModel)]="option1" #Option1="ngModel" required/>
                <div *ngIf="Option1.errors && Option1.touched" class="alert alert-danger">
                    <div *ngIf="Option1.errors.required">
                        Option1 is required
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="Option2">option2</label>
                <input type="text" class="form-control" id="Option2" name="option2" [(ngModel)]="option2" #Option2="ngModel" required/>
                <div *ngIf="Option2.errors && Option2.touched" class="alert alert-danger">
                    <div *ngIf="Option2.errors.required">
                        Option2 is required
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="Option3">options3</label>
                <input type="text" class="form-control" id="Option3" name="option3" [(ngModel)]="option3" #Option3="ngModel" required/>
                <div *ngIf="Option3.errors && Option3.touched" class="alert alert-danger">
                    <div *ngIf="Option3.errors.required">
                        Option3 is required
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="Option4">option4</label>
                <input type="text" class="form-control" id="Option4" name="option4" [(ngModel)]="option4" #Option4="ngModel" required/>
                <div *ngIf="Option4.errors && Option4.touched" class="alert alert-danger">
                    <div *ngIf="Option4.errors.required">
                        Option4 is required
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="Option5">option5</label>
                <input type="text" class="form-control" id="Option5" name="option5" [(ngModel)]="option5" #Option5="ngModel" required/>
                <div *ngIf="Option5.errors && Option5.touched" class="alert alert-danger">
                    <div *ngIf="Option5.errors.required">
                        Option5 is required
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="OptionField">OptionField</label>
                <input type="text" class="form-control" id="OptionField" name="optionsField" [(ngModel)]="optionsField" #OptionsField="ngModel"
                    />
            </div>
            <div class="col-sm-4">
                <label for="Answer">answer</label><br>
                <select class="selectpicker" data-style="btn-info" name="answer" id="Answer"[(ngModel)]="answer" #Answer="ngModel" [disabled]="!addQuestionForm.form.valid" >
                    <option [value]="option1">{{option1}}</option>
                    <option [value]="option2">{{option2}}</option>
                    <option [value]="option3">{{option3}}</option>
                    <option [value]="option4">{{option4}}</option>
                    <option [value]="option5">{{option5}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label for="Point">point</label>
                <input type="text" class="form-control" id="Point" #point required/>
            </div>
            <div class="col-sm-4">
                <label for="Note">note</label>
                <input type="text" class="form-control" id="Note" #note required/>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <input type="submit" class="e-learning-btn" name="quiz" value="Add Question" [disabled]="!addQuestionForm.form.valid" />
        <input type="button" class="e-learning-btn" name="quiz" value="cancel" [routerLink]="['/quizQuestionsList',courseId,videoId]"
        />
    </form>
    <br><br>
</div>