<div class="container-fluid no-padding no-margin">
    <div *ngIf="courseList.length == 0" class="text-center">
        <h2 class="text-danger"> No Courses Available!!!</h2>
    </div>

    <div *ngIf="courseList.length != 0">
        <h2>Courses <span class="list-size">{{courseList.length}} Courses</span></h2><hr>
        <div class="col-sm-4" *ngFor="let course of courseList ">
            <div class="panel panel1 panel-primary">
                <div class="panel-heading"><i class="glyphicon glyphicon-book"></i>{{course.name}}</div>
                <div class="panel-body">
                    <div class="panel-desc">{{course.description}}</div>
                    <div class=" pull-right">
                        <button class="app-read-more" (click)="showVideo(course._id)">Show Videos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>