<div class="container-fluid">
    <h2 class="row text-center" style="margin-top:40px;">Welcome to Atmecs E-Learning Portal</h2><br><br>
    <div class="col-sm-2"> <img src="../../assets/img/eleraning.png" class="img-size" alt="Atmecs-E-Learning"></div>
    <div class="col-sm-9 col-offset-1" class="justify">ATMECS, a technology company founded in 2013, Headquartered in Santa Clara, California, USA with R&D Center in Hyderabad,
        India. We provide Product Engineering, QA Automation, Infrastructure, Data and Market Research services. The R&D
        Center in Hyderabad is a well-equipped, state-of-the-art office. The company has a well-coordinated team that includes
        seasoned Information Technology industry experts, technical architects, engineers, project managers, market analysts,
        programmers and designers having hands-on experience and diverse skill set.</div>
</div>